<!--Fatima Zahra BENHIRT-->

<div class="search-div">
    <button mat-raised-button (click)="onCreate()">
      <mat-icon>add</mat-icon>Create
    </button>
  
    
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="nomcourt">
        <th mat-header-cell *matHeaderCellDef> Nom Court </th>
        <td mat-cell *matCellDef="let element"> {{element.nomcourt}} </td>
      </ng-container>
  
      <ng-container matColumnDef="seuilmax">
          <th mat-header-cell *matHeaderCellDef> Seuil Max </th>
          <td mat-cell *matCellDef="let element"> {{element.seuilmax}} </td>
        </ng-container>
    
      
      <ng-container matColumnDef="prixb">
        <th mat-header-cell *matHeaderCellDef> Prix de base </th>
        <td mat-cell *matCellDef="let element"> {{element.prixb}} </td>
      </ng-container>
    
     
      <ng-container matColumnDef="prixv">
        <th mat-header-cell *matHeaderCellDef> Prix de vente </th>
        <td mat-cell *matCellDef="let element"> {{element.prixv}} </td>
      </ng-container>
  
  
        <ng-container matColumnDef="unite">
          <th mat-header-cell *matHeaderCellDef> Unite du prod </th>
          <td mat-cell *matCellDef="let element"> {{element.unite}} </td>
        </ng-container>
  
  
        <ng-container matColumnDef="qinit">
          <th mat-header-cell *matHeaderCellDef> Quantite initiale</th>
          <td mat-cell *matCellDef="let element"> {{element.qinit}} </td>
        </ng-container>
  
        <ng-container matColumnDef="qtactu">
          <th mat-header-cell *matHeaderCellDef> Quantite actuelle</th>
          <td mat-cell *matCellDef="let element"> {{element.qtactu}} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
              <button mat-icon-button color="warn" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
            </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>  
    