<!--Fatima Zahra BENHIRT-->
<div class="mat-elevation-z8" >
    
    <form [formGroup] ='service.form' class="normal-form" (submit)="onSubmit()">
        <mat-grid-list cols="2" rowHeight="400px">
            <mat-grid-tile>
                <div class="controles-container">
                    <input type="hidden" formControlName="id"> 
                    <mat-form-field>
                        <input formControlName="nom" matInput placeholder="Nom Produit"> 
                        <mat-error>champ obligatoire</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input formControlName="nomcourt" matInput placeholder="Nom Produit Court"> 
                        <mat-error>champ obligatoire</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <input formControlName="prixb" matInput placeholder="Prix Base"> 
                    </mat-form-field>

                    <mat-form-field>
                        <input formControlName="qinit" matInput placeholder="Quantite Initiale">
                        <mat-error>champ obligatoire</mat-error>
                    </mat-form-field>
                    
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="controles-container">
                   
                    <mat-form-field>
                        <input formControlName="prixv" matInput placeholder="Prix Vente">  
                        <mat-error>champ obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="seuilmax" matInput placeholder="Seuil Maximum">
                        <mat-error>champ obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="unite" matInput placeholder="Unité Du Produit">
                    </mat-form-field>
                    
                    <mat-form-field>
                        <input formControlName="qtactu" matInput placeholder="Quantite Actuelle">
                        <mat-error>champ obligatoire</mat-error>
                    </mat-form-field>
                    <div class="button-row">
                        <button mat-raised-button color="primary" type="submit" [disabled]='service.form.invalid'>submit</button>
                    </div>
                    </div>
                    
                    
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>